.box {
  padding: 10px;
  position: absolute;
  width: 250px;
  &:hover {
    color: var(--c-textcolor);
  }
}

.body {
  margin-left: 10px;
  margin-right: 20px;
  position: absolude;
  * {
    display: block;
  }
}

.icon {
  margin-left: auto;
}

.slug {
  color: var(--c-soluk);
}
